<div class='column'>
    <div class='page-header'>
      <h1>Auctions</h1>
    </div>
    <div class='row'>
        <%= link_to 'New Auction', new_auction_path(@auction) %>
    </div>
    <div class='column'>
      <% @auctions.each do |auction| %>
        <div class="row">
            <div class='column'>
                <div class='row'>
                    <h2><%= link_to auction.item_name, auction_path(auction) %></h2>
                </div>
                <div class='row'>
                    <small><%= auction.description %></small>
                </div>
                <div class='row'>
                    <small><%= auction.created_at %></small>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>